@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400&display=swap');
/* font-family: 'Roboto Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.background {
  position: absolute;
  background-image: url('./images/Accueil/fond.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

section {
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
}

.centrer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aligner-centrer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number {
  font-family: 'Roboto Serif', serif;
}

.roboto {
  font-family: 'Roboto Serif', serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

/* Navbar */

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 9%;
  height: 80px;
  font-family: 'Lobster', cursive;
  width: 100%;
  z-index: 3;
  transition: all 0.5s;
}
header .logo {
  color: rgb(255, 255, 255);
  display: flex;
  z-index: 2;
}
header .logo img {
height: 70px;
width: 90px;
}
h1 {
display: flex;
align-items: center;
}
header .menu {
  display: flex;
  margin: 0;
}
header .menu li {
  margin: 0 15px;
  list-style: none;
}
header .menu li a {
  color: rgb(194, 194, 194);
  text-decoration: none;
  font-size: 19px;
  position: relative;
  transition: 0.5s;
}
header .menu li a::before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
  background-color: #ffffff;
}

header .menu li a:hover::before {
  width:100%;
}

header ul li:nth-child(7) a {
border: 1px solid white;
padding: 15px;
color: white;
}

header ul li:nth-child(7) a:hover {
color: black;
font-size: 17px;
background-color: white;
}

header .menu li:nth-child(7) a:hover::before {
width: 0%;
}

/* Sticky menu */

header.sticky {
  padding: 50px 5%;
  height: 80px;
  font-family: 'Lobster', cursive;
  background-color: white;
}

header.sticky .menu li a, header.sticky .logo {
  color: black;
}

header.sticky .menu li a::before {
  background-color: black;
}

header.sticky ul li:nth-child(7) a {
  border: 1px solid black;
}

header.sticky ul li:nth-child(7) a:hover {
  border: none;
  background-color: black;
  color: white;
}

/* Responsive Navbar */

@media (max-width:1400px) {
header.sticky {
  padding: 10px 5%;
}
header .menu {
    display: none;
}
.toggle-menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    position: relative;
}
.toggle-menu::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 25px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 10px 0 #fff;
    transform: translateY(-10px);
    transition: 0.5s;
}
.toggle-menu.active::before{
    transform: translateY(0) rotate(-0deg);
    box-shadow: 0 0px 0 #fff;
}
.toggle-menu::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 25px;
    background-color: #fff;
    border-radius: 6px;
    transform: translateY(10px);
    transition: 0.5s;
}
.toggle-menu.active::after{
    transform: translateY(0) rotate(0deg);
} 
header .menu.responsive {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #191513;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}
header .menu.responsive li {
    margin: 25px 0;
}

header.sticky .menu.responsive {
  background-color: #d3d3d3;
}

/* Sticky responsive */

.toggle-menu.stickyM::before {
  background-color: black;
  box-shadow: 0px 10px 0 black;
}

.toggle-menu.stickyM.active::before {
  box-shadow: 0 0px 0 black;
}

.toggle-menu.stickyM::after {
  background-color: black;
}
}

/* Accueil */

#accueil {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  color: white;
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.diplome {
  position: absolute;
  left: 230px;
  bottom: 90px;
  width: 75px;
  height: 75px;
}

#accueil h1 {
  color: white;
  font-size: 4rem;
}

#accueil span  {
  margin-left: 20px;
}

#accueil p {
  color: white;
  font-family: 'Roboto Serif', serif;
  font-size: 1.5rem;
}

#accueil button, #ecole button {
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid white;
  transition: all 0.3s;
}

#accueil button a, #ecole button a {
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

#accueil button:hover, #ecole button:hover {
  background-color: black;
}

#accueil button:hover a, #ecole button:hover a {
  color: white;
}

#accueil .arrow span {
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: 0px;
  animation: scroll 4s infinite;
}

#accueil .arrow span a {
  opacity: 0;
  font-size: 20px;
  cursor: pointer;
}

#accueil .arrow  span:nth-child(2){
  animation-delay: -.2s;
}

#accueil .arrow  span:nth-child(3){
  animation-delay: -.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width:767px) {
  .num {
    left: 10px;
    bottom: 100px;
  }
  
  .diplome {
    left: 50px;
    bottom: 20px;
  }
}

@media (max-width:576px) {
  #accueil h1 {
    font-size: 3rem;
  }
  #accueil p {
    font-size: 1.1rem;
  }
}


/* À propos */

#propos {
  position: relative;
  background-color: #d3d3d3;
}

#propos h1 {
  display: flex;
  justify-content: end;
  margin-top: 150px;
  font-size: 4rem;
  color: black;
  position: relative;
}

#propos p {
  font-size: 18px;
}

.numberOne {
  position: absolute;
  right: 25%;
  top: 8%;
  font-size: 6rem;
  color: #9b9b9b;
}

.musique {
  position: absolute;
  height: 400px;
  width: 800px;
  left: 0;
  top:11%;
}

.piano {
  position: absolute;
  height: 400px;
  width: 400px;
  bottom: 40px;
  left: 10%;
}

@media (max-width:1399px) {
  .musique {
    width: 100%;
    opacity: 0.1;
  }
}

@media (max-width:1199px) {
  .piano {
    height: 300px;
    width: 300px;
    left: 2%;
  }
}

@media (max-width:991px) {
  .piano {
    display: none;
  }
}

@media (max-width:575px) {
  #propos h1 {
    justify-content: center;
  }
  .musique {
    height: 300px;
  }
}


/* Instruments */

#instruments {
  position: relative;
  padding: 20px;
  background-color: #dfdfdf;
}

#instruments h1 {
  display: flex;
  justify-content: start;
  margin-top: 150px;
  font-size: 4rem;
  color: black;
  position: relative;
}

#instruments p {
  font-weight: 600;
}

.numberTwo {
  position: absolute;
  left: 25%;
  top: 8%;
  font-size: 6rem;
  color: #9b9b9b;
}

#instruments .separation {
  position: relative;
}

#instruments .separation::before {
  content: "";
  position: absolute;
  transform: rotate(90deg);
  left: -200px;
  bottom: 50%;
  width: 300px;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.50);
}

#instruments .separation::after {
  content: "";
  position: absolute;
  transform: rotate(90deg);
  right: -200px;
  bottom: 50%;
  width: 300px;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.50);
}


#instruments .instru-piano, #instruments .intru-violon {
  width: 200px;
  height: 200px;
}

#instruments .instru-guitare {
  height: 200px;
  width: 300px;
}

#instruments .instru-musique {
  position: absolute;
  width: 500px;
  height: 300px;
  right: 1%;
  top: 20%;
  transform: rotate(60deg);
}

@media (max-width:1399px) {
  #instruments .instru-musique {
    right: 5%;
    top: 15%;
    width: 60%;
    opacity: 0.1;
    transform: rotate(15deg);
  }
}

@media (max-width:1199px) {
  #instruments .separation::after {
    display: none;
  }
  #instruments .separation::before {
    left: -138px;
  }
}

@media (max-width:991px) {
  .numberTwo{
    top: 6%;
  }
  #instruments .separation::before {
    display: none;
  }
  #instruments .instru-musique {
    width: 90%;
    transform: rotate(0deg);
  }
}

@media (max-width:575px) {
  #instruments h1 {
    font-size: 3rem;
  }
  #instruments .instru-guitare {
    width: 220px;
  }
  #instruments h1 {
    justify-content: center;
  }
}


/* programme */

#programme {
  position: relative;
  background-color: #d3d3d3;
}

#programme h6 {
  text-decoration: underline;
  font-weight: 600;
}

#programme h1 {
  display: flex;
  justify-content: end;
  margin-top: 150px;
  font-size: 4rem;
  color: black;
  position: relative;
}

.numberThree {
  position: absolute;
  right: 25%;
  top: 80px;
  font-size: 6rem;
  color: #9b9b9b;
}


#programme .programme-groupe {
  position: absolute;
  width: 800px;
  height: 400px;
  top: 150px;
  left: 0;
}

.quote-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 600px;
  cursor: pointer;
  background-color: #bbbbbb;
  padding: 10px 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid rgba(0, 0, 0, 0.5);
}


.quote-container img {
  transition: transform 0.5s;
}

.plusIcon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.choix {
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}

.rotate {
  transform: rotate(45deg);
}

.appart {
  width: 600px;
  padding: 0;
  display: none;
  height: 0px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.apparition {
  width: 600px;
  padding: 0;
  background-color: #d4d3d3;
  display: block;
  height: calc(100% - 70px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.jams {
  font-size: 18px;
}

@media (max-width:1399px) {
  #programme .programme-groupe {
    opacity: 0.1;
    width: 90%;
  }
}

@media (max-width:640px) {
  .appart, .quote-container, .apparition {
    width: 95%;
  }
}

@media (max-width:575px) {
  #programme h1 {
    font-size: 3rem;
    justify-content: center;
  }
}


/* Professeurs */

#professeurs {
  position: relative;
  background-color: #dfdfdf;
}

#professeurs h1 {
  display: flex;
  justify-content: start;
  margin-top: 150px;
  font-size: 4rem;
  color: black;
  position: relative;
}

.numberFour {
  position: absolute;
  left: 25%;
  top: 70px;
  font-size: 6rem;
  color: #9b9b9b;
}

.profs {
  min-height: 50vh;
  max-width: 1000px;
}

.profs img {
  width: 300px;
  height: 200px;
}

.profs .largeur {
  width: 300px;
  position: relative;
}

.photo-profs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  color: white;
  transition: all 0.5 ease;
  text-align: center;
}
.social a:hover{
  color: #f3f3f3;
  background-color: rgb(0, 0, 0);
}

#professeurs .note {
  position: absolute;
  width: 800px;
  height: 400px;
  right: 0;
  top: 0%;
}

.real-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 12px;
  width: 100%;
  height: 200px;
  background: linear-gradient(45deg,rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.real-overlay > * {
  transform: translateY(-50px);
  transition: transform 0.25s;
}

.real-overlay:hover {
  opacity: 1;
}

.real-overlay:hover > * {
  transform: translateY(0);
}

.real-titre {
  font-size: 1.2rem;
  font-weight: bold;
}

.real-description {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

@media (max-width:1399px) {
  #professeurs .note {
    opacity: 0.1;
  }
}

@media (max-width:991px) {
  #professeurs .note {
    width: 100%;
  }
}

@media (max-width:575px) {
  #professeurs h1 {
    font-size: 3rem;
    justify-content: center;
  }
}

@media (max-width:400px) {
  .profs .largeur, .profs img {
    width: 100%;
  }
  .real-overlay {
    display: none;
  }
}


/* Ecole */

#ecole {
  position: relative;
  background-color: #d3d3d3;
}

#ecole h1 {
  display: flex;
  justify-content: end;
  margin-top: 150px;
  font-size: 4rem;
  color: black;
  position: relative;
}

.numberFive {
  position: absolute;
  right: 25%;
  top: 80px;
  font-size: 6rem;
  color: #9b9b9b;
}

.progress, .progress2, .progress3, .progress4 {
  position: relative;
  width: 400px;
  height: 30px;
  background: #c2482a80;
  border-radius: 30px;
  overflow: hidden;
}

.progress__fill {
  width: 0%;
  height: 100%;
  background: #8b1c00;
  transition: ease-in-out 2s;
}

.progress__text {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font: bold 14px "Quicksand", sans-serif;
  color: #ffffff;
}

.realisation h3 {
  color: #000000;
  position: relative;
}

.realisation h3::before {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 50px;
  left: 50%;
  transform: translate(-50%);
  height: 5px;
  border-radius: 5px;
  background-color: #000000;
}

.realisation p {
  font-size: 30px;
  font-weight: bold;
  color: #494949;
}

.essai {
  margin-top: 75px;
}

.certificat2 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 10%;
  bottom: 200px;
}

.certificat3 {
  position: absolute;
  width: 150px;
  height: 200px;
  left: 10%;
  bottom: 200px;
}

.parchemin {
  position: absolute;
  width: 800px;
  height: 200px;
  top: 10%;
}

@media (max-width:1399px) {
  #ecole .parchemin {
    opacity: 0.1;
  }
}

@media (max-width:1199px) {
  .certificat2, .certificat3 {
    display: none;
  }
}

@media (max-width:991px) {
  #ecole .parchemin {
    width: 96%;
    left: 2%;
  }
}

@media (max-width:575px) {
  #ecole h1 {
    font-size: 3rem;
    justify-content: center;
  }
  
  .progress, .progress2, .progress3, .progress4 {
    width: 80%;
  }
}


/* Contact */

#contact {
  position: relative;
  background-color: #dfdfdf;
}

#contact h1 {
  display: flex;
  justify-content: start;
  margin-top: 150px;
  font-size: 4rem;
  color: black;
  position: relative;
}

.numberSix {
  position: absolute;
  left: 25%;
  top: 70px;
  font-size: 6rem;
  color: #9b9b9b;
}

@media (max-width:575px) {
  #contact h1 {
    font-size: 3rem;
    justify-content: center;
  }
}

/* Formulaire de contact */
form {
  border: 1px solid black;
  max-width: 800px;
}

input {
  padding: 8px 0px;
  border-radius: 0px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

button[type="submit"] {
  width: 200px;
  background-color: rgb(202 141 126);
  border: 1px solid rgba(0, 0, 0);
  transition: all 0.2s;
  color: white;
} 

button[type="submit"]:hover {
  background-color: rgb(139 28 0);
}


/* Slider */
.slider {
  height: 50vh;
  position: relative;
}

.slider img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.slider img.activer {
  opacity: 1;
}

.suivant, .precedent {
  color: white;
  position: absolute;
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.suivant {
  right: 1rem;
}

.precedent {
  left: 1rem;
}

